.editor[b-mwkjntvwgf] {
    min-height: 300px;
    padding: 16px;
    outline: none;
}

    .editor:focus[b-mwkjntvwgf] {
        outline: none;
    }

.editor-with-placeholder:empty[b-mwkjntvwgf]::before {
    content: attr(data-placeholder);
    color: #999;
    pointer-events: none;
}